<section id="index" class="">
    <div class="post">
        <p class="text-center "><h3>Αυτή η ιστοσελίδα επιτρέπει στους φοιτητές του ΤΕΙ ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ τμήματος Πληροφορικής
        να ανεβάζουν διαφόρες ανακοινώσεις που αφορούν το τμήμα όπως βαθμολογίες, αλλαγές ωρών κλπ.<p/>
        Αυτή ιστοσελίδα δημιουργήθηκε απο τον Βασίλη Νασόπουλο. <br>
        Στο προφίλ μου στο  <a href="https://github.com/BillNas" id="github"><u>GitHub</u></a> μπορείτε να βρείτε και τον κώδικα της ιστοσελίδας.
    </h2>
    </div>
</section>